<div class="mt-10" *ngIf="data.employee">
  <h2 class="text-2xl font-bold">{{ data.employee.name }}</h2>
  <p class="text-gray-600">Department: {{ data.employee.department }}</p>
  <h3 class="text-xl mt-2">Leaves:</h3>
  <ng-container
    *ngFor="let leaveType of getLeavesByType(data.leaves) | keyvalue"
  >
    <h4 class="text-lg mt-2">
      <strong>{{ leaveType.key }}:</strong>
    </h4>
    <p>Total remaining leave days:</p>

    <ul *ngFor="let leave of leaveType.value" class="list-disc ml-5">
      <!-- <li class="text-gray-500">
        From: {{ leave.from | date }} To: {{ leave.to | date }}
      </li> -->
    </ul>
    <!-- Display total accumulated leave days for each type of leave -->
  </ng-container>
  <div class="flex justify-between mb-4">
    <button
      class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
      (click)="closeDialog()"
    >
      Close
    </button>
    <button
      class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="print()"
    >
      Print
    </button>
  </div>
</div>
