<!-- employee-details-dialog.component.html -->
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-75"
>
  <div
    class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 bg-white rounded-lg overflow-hidden"
  >
    <div class="mt-10">
      <h2 class="text-2xl font-bold">{{ data.employee.name }}</h2>
      <p class="text-gray-600">Department: {{ data.employee.department }}</p>
      <h3 class="text-xl mt-2">Leaves:</h3>
      <ng-container
        *ngFor="let leaveType of getLeavesByType(data.leaves) | keyvalue"
      >
        <h4 class="text-lg mt-2">{{ leaveType.key }}:</h4>
        <ul *ngFor="let leave of leaveType.value" class="list-disc ml-5">
          <li class="text-gray-500">
            From: {{ leave.from | date }} To: {{ leave.to | date }}
          </li>
        </ul>
      </ng-container>
      <div class="flex justify-between mb-4">
        <button
          class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          (click)="closeDialog()"
        >
          Close
        </button>
        <button
          class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="print()"
        >
          Print
        </button>
      </div>
    </div>
  </div>
</div>
