<h1>Register your account</h1>
<form
  #employeeRegistrationForm="ngForm"
  (ngSubmit)="resgisterEmployee(employeeRegistrationForm.value)"
>
  <div>
    <label for="email">Email:</label>

    <input type="text" id="email" name="email" ngModel />
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" ngModel />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" ngModel />
  </div>
  <button type="submit">Login</button>
</form>
